@import "variables";

html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium ";
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 1rem;
}
.bg-image {
  background-image: url(../../images/bg-image.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  @media (max-width: 667px) {
    padding: 2rem 2rem;
    justify-content: flex-start;
  }
  @media (max-width: 450px) {
    padding: 1.5rem 1.5rem;
  }

  img {
    max-width: 17rem;
    @media (max-width: 667px) {
      max-width: 12rem;
    }
    @media (max-width: 450px) {
      max-width: 11rem;
    }
  }
}

.main {
  flex: 1;
  h1:first-child {
    font-family: "Titillium";
    font-weight: 700;
    font-style: normal;
    font-size: 3.6rem;
    color: $color-primary;
    text-align: center;
    margin-bottom: -1rem;
    margin-top: 6rem;
    @media (max-width: 880px) {
      font-size: 3.4rem;
    }
    @media (max-width: 835px) {
      font-size: 3.2rem;
    }
    @media (max-width: 780px) {
      font-size: 3rem;
    }
    @media (max-width: 667px) {
      margin-top: 2rem;
      font-size: 2.6rem;
      line-height: 1.1;

      span {
        display: inline-block;
        padding-top: 0;
        // line-height: .5;
      }
    }
    @media (max-width: 450px) {
      font-size: 2.1rem;
      margin-top: 2.8rem;
    }
  }

  .h2 {
    font-family: "Titillium";
    font-size: 3.5rem;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    margin-top: 0.6rem;
    @media (max-width: 880px) {
      font-size: 3.3rem;
    }
    @media (max-width: 835px) {
      font-size: 3rem;
    }
    @media (max-width: 780px) {
      font-size: 2.8rem;
    }
    @media (max-width: 667px) {
      font-size: 2.5rem;
      margin-top: 0.7rem;
      margin-bottom: -1rem;
    }
    @media (max-width: 450px) {
      font-size: 2.1rem;
      margin-top: 0.8rem;
    }
    span {
      font-weight: 700;
    }
  }
}

// items

.wrap-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
  grid-column-gap: 1rem;
  align-items: center;
  margin-top: 10rem;
  @media (max-width: 667px) {
    margin-top: 1rem;
    grid-gap: 4rem;
  }

  .item-camposanto,
  .item-seguro {
    display: flex;
    flex-direction: column;
    align-items: center;
    .info-text {
      font-family: "Titillium";
      font-style: italic;
      font-weight: 600;
      font-size: 2.2rem;
      text-align: center;
      @media (max-width: 667px) {
        margin-bottom: -1rem;
        line-height: 1.1;
      }
      @media (max-width: 450px) {
        font-size: 2rem;
        margin-top: 2rem;
    grid-gap: 7rem;
      }
    }
  }

  .bg-circle1 {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 667px) {
      height: 20rem;
      width: 20rem;
      background-color: transparent;
      border: 1px solid white;
    }
    @media (max-width: 450px) {
      height: 16rem;
      width: 16rem;
    }
  }
  .bg-circle2 {
    width: 21rem;
    height: 21rem;
    border-radius: 50%;
    background-color: $color-primary;
    border: 2px solid white;
    position: relative;
    @media (max-width: 667px) {
      height: 19rem;
      width: 19rem;
      background-color: white;
      border: none;
    }
    @media (max-width: 450px) {
      height: 15rem;
      width: 15rem;
    }
    .title-cs {
      font-family: "Titillium";
      font-weight: 700;
      font-style: normal;
      font-size: 2.2rem;
      text-align: center;
      margin: 4rem 0;
      line-height: 1;
      color: white;
      @media (max-width: 667px) {
        margin: 3.6rem 0;
        color: black;
      }
      @media (max-width: 550px) {
        font-size: 2rem;
        margin-top: 4rem;
      }
    }
    .title-seguro {
      font-family: "Titillium";
      font-weight: 700;
      font-style: normal;
      font-size: 2.2rem;
      text-align: center;
      margin: 4.2rem 0;
      line-height: 0.9;
      color: white;
      @media (max-width: 667px) {
        margin: 2.8rem 0;
        color: black;
      }
      @media (max-width: 550px) {
        margin-top: 2.6rem;
        font-size: 1.8rem;
      }
    }
    .flores {
      max-width: 16rem;
      position: absolute;
      right: 7%;
      // left: 0;
      bottom: -25%;
      @media (max-width: 667px) {
        max-width: 15rem;
      }
      @media (max-width: 450px) {
        max-width: 11.8rem;
        bottom: -31%;
        right: 11%;
      }
    }
    .palomo {
      max-width: 14rem;
      position: absolute;
      right: 18%;
      // left: 0;
      bottom: -25%;
      @media (max-width: 667px) {
        max-width: 13rem;
      }
      @media (max-width: 550px) {
        max-width: 13rem;
      }
      @media (max-width: 450px) {
        max-width: 10rem;
      }
    }
  }
}

// footer
.footer {
  background-color: $color-footer;
  padding: .3rem 0;
  .info-footer {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Titillium";
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    @media (max-width: 550px) {
      align-items: center;
     
      small {
        display: block;
        line-height: .8;
      }
    }
  }

  @media (max-width: 550px) {
    padding: 0;
  }
}
